* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.wrapper{
  height: 100%;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
}

.home,
.reports,
.navbar {
  background-color:#4863fc;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #253cbb;
  height: 100%;
  display: flex;
  justify-content: center;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.Home{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "box1 box1 box2" "box3 box3 box2" "box4 box4 box4";
}

.box1{
  grid-area: box1;
}

.box2{
  grid-area: box2;
}


.box3{
  grid-area: box3;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "box31 box32";
}

.box31{
  grid-area: box31;
}

.box32{
  grid-area: box32;
}

.box4{
  margin-top: 5%;
  grid-area: box4;
}

.content-box{
  margin: 5%;
  min-height:auto;
}
 
.card{
  border-color: black;
  height: fit-content;
  border-radius: 3ch;
}

.box1 > .card{
  border-color: white;
}

.mainbar{
  min-height: fit-content;
}

.sidebar{
  max-height: inherit;
  height:200vh;
}

.timer{
  background-color: #253cbb ;
  margin: 3px;
  padding: 3px;
}

@media all and (max-width:720px){
  .sidebar{
    height: fit-content;
  }
  .box3{
    grid-area: box3;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "box31" "box32";
  }
  .sidebar{
    height:400vh;
  }
  .Home{
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: unset;
    grid-template-areas: "box1" "box2" "box3" "box3" "box4";
  }
}